[useragents]
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.110 Safari/537.36
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2623.110 Safari/537.36
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2623.110 Safari/537.36
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2623.110 Safari/537.36
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/45.0.2623.110 Safari/537.36
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2623.110 Safari/537.36
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2623.110 Safari/537.36
Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2623.110 Safari/537.36
Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.115 Safari/537.36

[proxyserver]
http://www.xicidaili.com/wn/1.html
http://www.xicidaili.com/wn/2.html
http://www.xicidaili.com/wn/3.html
http://www.xicidaili.com/wn/4.html
http://www.xicidaili.com/wn/5.html
http://www.xicidaili.com/wn/6.html
http://www.xicidaili.com/wn/7.html
http://www.xicidaili.com/wn/8.html

http://www.xicidaili.com/wt/1.html
http://www.xicidaili.com/wt/2.html
http://www.xicidaili.com/wt/3.html
http://www.xicidaili.com/wt/4.html
http://www.xicidaili.com/wt/5.html
http://www.xicidaili.com/wt/6.html
http://www.xicidaili.com/wt/7.html
http://www.xicidaili.com/wt/8.html

http://www.xicidaili.com/nn/1.html
http://www.xicidaili.com/nn/2.html
http://www.xicidaili.com/nn/3.html
http://www.xicidaili.com/nn/4.html
http://www.xicidaili.com/nn/5.html
http://www.xicidaili.com/nn/6.html
http://www.xicidaili.com/nn/7.html
http://www.xicidaili.com/nn/8.html

http://www.xicidaili.com/nt/1.html
http://www.xicidaili.com/nt/2.html
http://www.xicidaili.com/nt/3.html
http://www.xicidaili.com/nt/4.html
http://www.xicidaili.com/nt/5.html
http://www.xicidaili.com/nt/6.html
http://www.xicidaili.com/nt/7.html
http://www.xicidaili.com/nt/8.html

http://www.mimiip.com/gngao/1
http://www.mimiip.com/gngao/2
http://www.mimiip.com/gngao/3
http://www.mimiip.com/gngao/4
http://www.mimiip.com/gngao/5
http://www.mimiip.com/gngao/6
http://www.mimiip.com/gngao/7
http://www.mimiip.com/gngao/8

http://www.mimiip.com/gnpu/1
http://www.mimiip.com/gnpu/2
http://www.mimiip.com/gnpu/3
http://www.mimiip.com/gnpu/4
http://www.mimiip.com/gnpu/5
http://www.mimiip.com/gnpu/6
http://www.mimiip.com/gnpu/7
http://www.mimiip.com/gnpu/8

http://www.66ip.cn/1
http://www.66ip.cn/2
http://www.66ip.cn/3
http://www.66ip.cn/4
http://www.66ip.cn/5
http://www.66ip.cn/6
http://www.66ip.cn/7
http://www.66ip.cn/8

http://www.66ip.cn/areaindex_1/1.html
http://www.66ip.cn/areaindex_2/1.html
http://www.66ip.cn/areaindex_3/1.html
http://www.66ip.cn/areaindex_4/1.html
http://www.66ip.cn/areaindex_5/1.html
http://www.66ip.cn/areaindex_6/1.html
http://www.66ip.cn/areaindex_7/1.html
http://www.66ip.cn/areaindex_8/1.html

http://www.66ip.cn/areaindex_1/2.html
http://www.66ip.cn/areaindex_2/2.html
http://www.66ip.cn/areaindex_3/2.html
http://www.66ip.cn/areaindex_4/2.html
http://www.66ip.cn/areaindex_5/2.html
http://www.66ip.cn/areaindex_6/2.html
http://www.66ip.cn/areaindex_7/2.html
http://www.66ip.cn/areaindex_8/2.html