p {
    font-family: "宋体";
    font-size: large;
    border: 1px solid red;
    width: 50%;
    padding: 5px;
    text-align: center;
}

#div1 {
    border-width: 2px;
    border-style: solid;
    border-color: blue;
    width: 300px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.a_1 {
    display: block;
    border: 1px solid green;
    width: 150px;
    height: 30px;
}

.a_2 {
    display: block;
    border: 1px solid blueviolet;
    width: 100px;
    height: 30px;
}

table{
    width: 50%;
}
td{
    border:1px solid blue ;
}