<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义名字空间 -->
<mapper namespace="selects">
    <select id="selectOrderCount" resultType="int">
        select count(*) from orders
    </select>
    <select id="selectOrderStat" resultType="map">
        select max(price) mx,min(price) mn,avg(price) avg, count(*)  cnt ,sum(price) sum from orders
    </select>
    <select id="selectOrderPage" resultType="map">
        select * from orders limit #{offset} , #{length}
    </select>
    <select id="selectOrderPage2" resultType="map">
        select * from orders limit #{offset} , #{limit}
    </select>

</mapper>